.watchesblok {
    margin-top: 45px;
    &__container {
        position: relative;
        &:after {
            content: "";
            position: absolute;
            z-index: -1;
            width: 590px;
            height: 548px;
            background-color: #f1ddc9;
            left: -165px;
            top: 0;
        }
    }
    &__tab {
        &-item {
            margin-bottom: 24px;
            img{
              opacity: .4;
            }
        }
    }
    &__content{
   margin-left: 58px;
    }
    &__name {
        font-size: 60px;
        line-height: 80px;
        letter-spacing: 0.02em;
        color: #333333;
        margin-bottom: 8px;
    }
    &__oldprice {
        font-weight: normal;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 0.02em;
        color: #777777;
        position: relative;
        display: inline-block;
        margin-bottom: 5px;
        &::before {
            content: "";
            position: absolute;
            background-color: #d93f3f;
            height: 2px;
            width: 100%;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
        }
    }
    &__newprice {
        font-weight: 500;
        font-size: 24px;
        line-height: 41px;
        letter-spacing: 0.02em;
        color: #333333;
    }
    &__model {
        margin-bottom: 41px;
        &-title {
            font-weight: 600;
            font-size: 16px;
            line-height: 27px;
            letter-spacing: 0.02em;
            color: #333333;
            margin: 16px 0 9px;
        }
        &-color {
            outline: none;
            border: none;
            cursor: pointer;
            background-color: transparent;
        }
    }
    &__buttons {
        display: flex;
    }
    &__add-cart {
        display: flex;
        align-items: center;
        padding: 14px 30px 14px 25px;
        font-family: Taviraj;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 34px;
        letter-spacing: 0.02em;
        background: #d84727;
        color: #ffffff;
        border: 1px solid transparent;
        outline: none;
        cursor: pointer;
        margin:0 16px 0 36px;
        svg {
            margin-right: 8px;
        }
    }
    &__cecil {
        padding: 14px 40px;
        background-color: transparent;
        border: 2px solid #d84727;
        outline: none;
        cursor: pointer;
        margin-left: 14px;
    }
    &__row {
        align-items: center;
    }
    &__quantity {
        font-size: 36px;
        line-height: 61px;
        letter-spacing: 0.02em;
        color: #000000;
        margin: 0 16px;
        &-minus,
        &-plus {
            font-weight: 300;
            width: 30px;
            height: 30px;
            border: 1px solid #777777;
            box-sizing: border-box;
            color: #777777;
            font-size: 22px;
            cursor: pointer;
            transition: all 0.3s;
            &:hover {
                background-color: #d84727;
                color: #fff;
            }
        }
    }
}

.watchesblok__tab-item.react-tabs__tab--selected{
    img{
        opacity: 1;
    }
}

@media screen and (max-width:1010px){
    .watchesblok__row{
        flex-wrap: wrap;
        .col-6{
            width: 100%;  
        }
    }
}
@media screen and (max-width:600px){
    .watchesblok__name {
        font-size: 36px;
        line-height: 45px;
    }
    .watchesblok__add-cart{
        margin-left: 0;
    }
    .watchesblok__container:after{
        width: 100%;
        height: 360px;
    }
}
@media screen and (max-width:480px){
    .watchesblok__cecil {
        padding: 5px 19px;
    }
    .watchesblok__add-cart{
        font-size: 16px;
        padding: 3px 10px;
    }
}