.series {
    padding-top: 105px;
    &__row {
        flex-wrap: wrap;
    }
    
    &__inner {
        margin-top: 32px;
        display: flex;
    }
    &__title{
        margin-bottom: 60px;
    }
    &__img {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f1ddc9;
        margin-right: 24px;
        width: 131px;
        height: 131px;
    }
    &__name {
        max-width: 190px;
        margin-bottom: 4px;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.02em;
        color: #333333;
    }
    &__price {
        font-weight: 500;
        font-size: 28px;
        line-height: 40px;
        letter-spacing: 0.02em;
        color: #222222;
    }
    &__btn {
        margin-top: 55px;
        text-align: center;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            max-width: 391px;
            width: 100%;
            height: 0.3px;
            background-color:#999;
            left: 0;
            top: 50%;
            transform: translateY(-50%);


        }
        &::after{
            content: "";
            position: absolute;
            max-width: 391px;
            width: 100%;
            height: 0.3px;
            background-color:#999;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
        a{
            padding: 16px 91px;
            font-size: 20px;
            line-height: 34px;
            letter-spacing: 0.03em;
            color: #d84727;
            text-decoration: none;
            box-sizing: border-box;
            text-align: center;
            border: 1px solid #d84727;
            transition: .4s;
            display: inline-block;
            &:hover{
                background-color:#d84727;
                color:#fff;

            }
        
        }
    }
}

@media screen and (max-width:1200px){
    .series__row{
        flex-wrap: wrap;
    }
    .series__btn{
        &:after,
        &:before{
 display: none;
        }
    }
        
}
@media screen and (max-width: 480px){
    .series__btn{
        a {
        padding: 10px 25px;
    }
    }
}